opentelemetry-instrumentation
opentelemetry-distro
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-Flask
opentelemetry-instrumentation-requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-jaeger
jaeger-client